<h2>Register Form</h2>

<form [formGroup]="registerForm"  (ngSubmit)="submitHandler()">
    <!-- EMAIL -->
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="text"
        id="email"
        name="email"
        formControlName="email"
      />
    </div>
    <!-- email error message -->
    <!-- <div *ngIf="emailInput.touched">
      <div *ngIf="emailInput.errors?.['required']">Email is required!</div>
      <div *ngIf="emailInput.errors?.['email']">Invalid email!</div>
    </div> -->
  
    <!-- PASSWORD -->
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="text"
        id="password"
        name="password"
        formControlName="password"
      />
    </div>
  
    <!-- Password error message -->
    <!-- <div *ngIf="passwordInput.touched">
      <div *ngIf="passwordInput.errors?.['appMaxCount']">
          Invalid Password, because length is longer than
           {{passwordInput?.errors?.['appMaxCount'] }}...</div>
      <div *ngIf="passwordInput.errors?.['required']">Password is required!</div>
    </div> -->
    <button>Login</button>
  </form>
  
  <br />
  <br />
  <br />
  {{ registerForm.value | json }}
  
