<h2>Register Form</h2>

<form [formGroup]="registerForm"  (ngSubmit)="submitHandler()">
    <!-- EMAIL -->
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="text"
        id="email"
        name="email"
        formControlName="email"
      />
    </div>
    <!-- email error message -->
    <div *ngIf="registerForm.get('email')?.touched">
      <div *ngIf="registerForm.get('email')?.errors?.['required']">Email is required!</div>
      <div *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email!</div>
    </div>
  
    <!-- PASSWORD -->
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="text"
        id="password"
        name="password"
        formControlName="password"
      />
    </div>
  
    <!-- Password error message -->
    <div *ngIf="registerForm.get('password')?.touched">
      <div *ngIf="registerForm.get('password')?.errors?.['required']">
        Password is required!</div>
      <div *ngIf="registerForm.get('password')?.errors?.['minlength']">
        Password should be at least {{ registerForm.get('password')?.errors?.['minlength'].requiredLength }} characters long!
    </div>
    <div *ngIf="registerForm.get('password')?.errors?.['maxlength']">
        Password should be no more than {{ registerForm.get('password')?.errors?.['maxlength'].requiredLength }} charachters long!
    </div>
    </div>
    <button>Login</button>
  </form>
  
  <br />
  <br />
  <br />
  {{ registerForm.value | json }}
  
