<h1 appHighlightOnMove>Forms and Directives</h1>
<hr />
<nav>
<div appMyRouterLink="/home">Link to Home</div>
<div appMyRouterLink="/login">Link to Login</div>
<div appMyRouterLink="/register">Link to Register</div>
</nav>
<hr />
<!-- structural directives are always with * prefix -->
<div *ngIf="true">Simple Div 1</div>

<!-- the * prefix refers to ng-template -->
<ng-template [ngIf]="true">
    <div>Simple Div 1.1</div>
</ng-template>
<hr />
<router-outlet />

<button (click)="toggle()">toggle my state</button>


<!-- Custom Stuctural Directives -->
<!-- Usage 1 -->
<div *appMyStructural="isShown">Structural Directives (Usage 1)</div>

<!-- Usage 2 -->
<ng-template [appMyStructural]="isShown" let-value="value">
    <div>Structural Directives (Usage 2)</div>
    <h4>value: {{ value }}</h4>
</ng-template>