<div appHighlightOnMove>
  <h1>Directives and Forms</h1>
</div>
<nav>
  <hr />
  <div appHighlightOnMove appMyRouterLink="/home">Link to Home</div>
  <br />
  <div appHighlightOnMove appMyRouterLink="/login">Link to Login</div>
  <br />
  <div appHighlightOnMove appMyRouterLink="/register">Link to Register</div>
  <hr />
</nav>
<router-outlet />

<!-- Palyground -->

<!-- Structural directives are alwais with * prefix -->
<div *ngIf="true">Simple Div 1</div>

<!-- the s* prefix refers to ng-template -->
<ng-template [ngIf]="true">
  <div>Simple Div 1.1</div>
</ng-template>
